@import "reset.css";

body {
  color: #000;

  font-family: "Helvetica";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.first {
  position: relative;

  display: flex;

  height: 100vh;
  min-height: 400px;

  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  top: 20px;
  right: 0px;
  left: 0px;

  width: 960px;
  height: 40px;
  margin: 0 auto;

  background-color: rgb(0 93 221);
}

nav ul {
  display: flex;

  padding: 12px;

  letter-spacing: 1px;
  text-transform: uppercase;

  font-size: 16px;

  justify-content: space-between;
}


nav a {
  text-decoration: none;

  color: #fff;
}

nav a:hover {
  color: #000000;

}

input {
  width: 50px;
  margin-top: -5px;
  padding: 0;

  color: #fff;
  border: 0;
  outline: none;
  background-color: transparent;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

nav ul li {
  position: relative;

  float: left;
}
.dropdown {
  position: absolute;
  top: 100%;

  display: none;

  width: 277px;
  margin-left: -12px;

  background: rgb(0 93 221);
}

 li:hover .dropdown{
  display: block;
 }

 .dropdown li{
  width: 100%;
  height: 45px;
 }

.dropdown li a{
  height: 45px;

  line-height: 45px;
}

.displayContainer {
  width: 728px;
  margin: 10px auto 0;
}


h1, h2, h3, p, .centerizer {
  width: 728px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 800px;

  font-size: 40px;
  line-height: 46px;
}

h2 {
  margin-top: 43px;

  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 36px;

  font-size: 28px;
  line-height: 34px;
}

p {
  margin-top: 50px;

  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 34px;
}

p + p {
  margin-top: 29px;

  line-height: 10px;
}


.container {
  position: relative;

  width: 238px;
  height: 160px;
  margin-top: 30px;
  margin-left: 0px;

  background-color: #000000;
}
.crawling {
  position: absolute;
  z-index: -1;
  right: 437px;
  bottom: 0;

  width: 150px;
  margin-bottom: 120px;
}
.sec {
  position: absolute;
  right: 51px;

  margin-top: -160px;
}
.container2 {
  position: relative;

  width: 238px;
  height: 160px;
  margin-top: 30px;
  margin-left: 0px;

  background-color: #000000;
}
.box {
  position: absolute;
  top: 880px;
  right: 870px;

  width: 158px;
  height: 7px;

  background-color: rgb(0 93 221);
}
.sec2 {
  position: absolute;
  right: 51px;

  margin-top: -160px;
}
.container3 {
  position: relative;

  width: 238px;
  height: 160px;
  margin-top: 30px;
  margin-left: 0px;

  background-color: #000000;
}
.box1 {
  position: absolute;
  top: 1160px;
  right: 870px;

  width: 158px;
  height: 7px;

  background-color: rgb(0 93 221);
}
.menu1 {
  position: absolute;
  top: 1162px;
  right: 992px;

  width: 36px;
  height: 3px;

  background-color: white;
}

.menu2 {
  position: absolute;
  top: 1162px;
  right: 950px;

  width: 36px;
  height: 3px;

  background-color: white;
}
.menu3 {
  position: absolute;
  top: 1162px;
  right: 910px;

  width: 36px;
  height: 3px;

  background-color: white;
}
.menu4 {
  position: absolute;
  top: 1162px;
  right: 875px;

  width: 25px;
  height: 3px;

  background-color: white;
}
.sec3 {
  position: absolute;
  right: 51px;

  margin-top: -130px;
}
.done {
  position: absolute;
  z-index: -1;
  right: 386px;
  bottom: 0;

  width: 150px;
  margin-bottom: 115px;
}
.SP {
  position: absolute;
  z-index: -1;
  right: 838px;
  bottom: 0;

  width: 238px;
  margin-bottom: -880px;
}
.box2 {
  position: absolute;
  top: 1450px;
  right: 870px;

  width: 158px;
  height: 7px;

  background-color: rgb(0 93 221);
}
.menu5 {
  position: absolute;
  top: 1452px;
  right: 992px;

  width: 36px;
  height: 3px;

  background-color: white;
}

.menu6 {
  position: absolute;
  top: 1452px;
  right: 950px;

  width: 36px;
  height: 3px;

  background-color: white;
}
.menu7 {
  position: absolute;
  top: 1452px;
  right: 910px;

  width: 36px;
  height: 3px;

  background-color: white;
}
.menu8 {
  position: absolute;
  top: 1452px;
  right: 875px;

  width: 25px;
  height: 3px;

  background-color: white;
}
.sec4 {
  position: absolute;
  right: 51px;

  margin-top: 20px;
}
.end {
  position: absolute;
  z-index: -1;
  right: 538px;
  bottom: 0;

  width: 238px;
  margin-top: 30px;
  margin-bottom: -1050px;
}
